<!DOCTYPE html>
<html lang="en">
<head>
  <link type="text/css" rel="stylesheet" href="app-bundle.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
</head>
<body class="container">
  <section id="content"><div><%- content %></div></section>
  <script src="/javascript/bundle.js"></script>
</body>
</html>
